/* Write your CSS here */
.detailsContainer {
  height: 28px;
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.balanceContainer {
  height: 70px;
  width: 100px;
  border: 1px solid #84cc16;
  background-color: #ecfccb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.incomeContainer {
  height: 70px;
  width: 100px;
  border: 1px solid #06b6d4;
  background-color: #cffafe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.expensesContainer {
  height: 70px;
  width: 100px;
  border: 1px solid #7c3aed;
  background-color: #ede9fe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.img {
  height: 35px;
  width: 40px;
  border-radius: 8px;
  border: 0px solid none;
}
.p {
  font-size: 13px;
  color: black;
  margin-bottom: 8px;
}
.para {
  font-size: 16px;
  color: black;
}
